@import url('https://raw.githubusercontent.com/Snowsdy/BlackShore-Discord-Theme/refs/heads/main/blackshore.css');

:root {
    /* text colors */
    --text-0: rgb(255, 255, 255); /* text on colored elements */
    --text-1: hsl(220, 45%, 95%); /* other normally white text */
    --text-2: rgb(181, 195, 241); /* headings and important text */
    --text-3: hsl(220, 45%, 95%); /* normal text */
    --text-4: rgb(58, 166, 255); /* icon buttons and channels */
    --text-5: hsl(220, 45%, 95%); /* muted channels/chats and timestamps */

    /* background and dark colors */
    --bg-1: rgba(17, 50, 160, 0.178); /* dark buttons when clicked */
    --bg-2: rgba(35, 39, 47, 0.041); /* dark buttons */
    --bg-3: rgba(10, 0, 6, 0.8); /* spacing, secondary elements */
    --bg-4: rgba(1, 16, 66, 0.377); /* main background color */
    --hover: rgba(17, 50, 160, 0.438); /* channels and buttons when hovered */
    --active: rgba(17, 50, 160, 0.2); /* channels and buttons when clicked or selected */
    --active-2: rgba(17, 50, 160, 0.3); /* extra state for transparent buttons */


    /* base colors */
    --blue-1: rgb(44, 82, 248);
    --blue-2: rgb(17, 50, 160);
    --blue-3: rgb(37, 76, 186);
    --blue-4: rgb(55, 98, 210);
    --blue-5: rgb(74, 120, 234);

    --red-2: var(--blue-5);
    --red-3: var(--blue-4);
    --dnd: oklch(70% 0.12 0);
    --offline: rgb(148, 182, 250);
}

body {
    --background-image-url: url('https://i.imgur.com/KzwS2ln.jpeg');
}
