@import url('https://raw.githubusercontent.com/Snowsdy/BlackShore-Discord-Theme/refs/heads/main/blackshore.css');

:root {
    /* text colors */
    --text-0: rgb(253, 253, 253); /* text on colored elements */
    --text-1: hsl(220, 45%, 95%); /* other normally white text */
    --text-2: rgb(51, 226, 124); /* headings and important text */
    --text-3: hsl(217, 22%, 93%); /* normal text */
    --text-4: rgb(156, 245, 201); /* icon buttons and channels */
    --text-5: hsl(228, 17%, 88%); /* muted channels/chats and timestamps */

    /* background and dark colors */
    --bg-1: rgba(17, 160, 88, 0.178); /* dark buttons when clicked */
    --bg-2: rgba(35, 47, 39, 0.041); /* dark buttons */
    --bg-3: rgba(1, 53, 24, 0.7); /* spacing, secondary elements */
    --bg-4: rgba(1, 73, 37, 0.425); /* main background color */
    --hover: rgba(4, 107, 59, 0.438); /* channels and buttons when hovered */
    --active: rgba(17, 160, 100, 0.2); /* channels and buttons when clicked or selected */
    --active-2: rgba(17, 160, 93, 0.842); /* extra state for transparent buttons */


    /* base colors */
    --blue-1: rgb(24, 211, 108);
    --blue-2: rgb(5, 194, 99);
    --blue-3: rgb(37, 186, 111);
    --blue-4: rgb(55, 210, 138);
    --blue-5: rgba(74, 234, 127, 0.7);

    --red-2: var(--blue-5);
    --red-3: var(--blue-4);

    --green-5: var(--green-2);

    --dnd: oklch(70% 0.12 0);
    --offline: rgb(148, 250, 194);
}

body {
    --background-image-url: url('https://i.imgur.com/mMljVXB.jpeg');
}
